page-academic {

    .wrapper {
        margin: auto;
       height: 100%;
       width: 90%;
       max-width: 100%;
       border: 0.1em solid rgb(0,0,0);
       border-radius: 1em;
       
       overflow: hidden;
       background-size: cover;
       background-position: center center;
   }
   
}
